*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
}
.pic{
    
    height: 100vh;
    background-size: cover;
    width: calc(100% - 560px);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.pic img{
    width: 100%;
    height: 100%;
}

.form{
    width: 560px;
    min-height: 100vh;
    display: block;
    background-color: #f7f7f7;
    padding: 173px 55px 55px;
}
.form h2{
    width: 100%;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;

}

input{
    border: none;
    outline: none;
    background-color: #f5f5f5;
    padding: 20px 50px;
    border-radius: 5px;
    width: 250px;
    display: block;
    width: 100%;
    background: 0 0;
    font-size: 18px;
    color: #555;
    line-height: 1.2;
    text-align: left;
   
}
input[type="submit"]{
    margin: auto;
    text-align: center;
}
.input-main{
    position: relative;
    font-size: 18px;
    padding-top:20px;
    margin-bottom:10px;
}
.placeholder{
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translate(-50%);
    color: #aaa;
    transition: all 0.3s ease;
}
input:focus + .placeholder{
    top: -10px;
    font-size: 20px;
    color: #222;
}
.submit{
    cursor: pointer;
    background-color: #285943;
    padding: 10px 30px;
    color: #f5f5f5;
    font-size: 18px;
    width: 100%;
    border-radius: 6px;

}
input[type="submit"]{
    color: #f5f5f5;
}

#error{
    color: red;
    text-align: center;
    margin: 20px auto;
}
@media (max-width: 1024px) {
    .pic{
        width: 0;
    }
    .form{
        width: 100%;
    }
    input[type="submit"]{
        /* width: 300px; */
        margin: auto;
        text-align: center;
    }
}


