* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.navbar {
  background-color: #285943;
  color: #fff;
  padding: 20px;
}
.navbar img {
  margin-left: 20px;
  width: 70px;
}
.navbar a {
  color: #e8e1ef;
  margin-right: 20px;
  border: 2px solid #e8e1ef;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  position: absolute;
  right: 0%;
}


header{
  margin-top: 50px ;
}
.box-top {
  position: absolute;
  top: 20%;
  left: 28%;
  transform: translate(-28%, -12%);
}
.box-top i {
  font-size: 30px;
  border-right: 1.5px solid #aaa;
  margin-right: 10px;
  padding-right: 15px;
}
.box-top span {
  font-size: 30px;
}
.box {
  margin:100px auto 50px;
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: #f5f5f5;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
}

.child {
  width: 100%;
  height: 100%;
  padding: 30px;
}
.box-main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.box-main h3{
    margin: 10px;
}
.box-main span{
    background-color: rgb(238, 238, 238);
    padding: 10px;
    margin: 7px;
    border-radius: 7px;
}
.parent{
    width: 100%;
    height: 100%;
    padding: 20px;
}
@media (max-width: 1025px) {
    .box{
        width: 90%;
        margin-top: 129px;
    }
    
}
@media (max-width: 600px) {
    .box{
      margin-top: 348px;
        display: flex;
        flex-direction:column ;
        height: auto;
    }
}

