*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x:hidden ;
}

img{
    position: absolute;
    left: 50%;
    top: 1%;
    transform: translate(-50%, -1%);
    width: 100px;
}
.main{
    position: absolute;
    background: #f5f5f5;
    border: 3px solid #232323;
    left: 50%;
    top: 18%;
    transform: translate(-50% , -5%);
    padding: 30px 30px 60px;
    /* bottom: -19px; */
    width: 60%;
}
h3{
    margin: 40px;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}
label{
    margin: 20px;
    font-size: 18px;
    text-align: center;
}
input{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 50;
}
.item{
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px 30px;
    font-size: 20px;
    background-color: #285943;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -20px);
    outline: none;
    border: none;
}
@media all and (max-width:1024px) {
    
    .main{
        top: 25%;
    }
    input{
        width: 95%;
    }
    .item{
        display: grid;
        justify-content: left;
    }
    button{
        bottom: -10px;
    }
}